/* khaleesi.la */
@charset 'UTF-8';

html, body { height:100%; text-align:center }
html { background:#101; 
  font:normal 400 100%/1.6 Source Sans Pro, sans-serif }

@-webkit-keyframes feature { from, to { font-size:16vw } }
@-webkit-keyframes shrink { from { font-size:16vw }}

.logo { font: 2em/1.6 Allura; display:block; text-shadow:0 0 30px #ffff00; color:#959499;
 margin:0; -webkit-animation:feature 5s, shrink 2s 5s cubic-bezier(.6,0,.6,0) }
 

[id] { max-width:610px; background:#222328; display:inline-block;
  margin:2px; vertical-align:top }

[id]:before { content:attr(id); text-transform:uppercase;
  display:block;
  letter-spacing:-.08em; font:2em/1 Source Sans Pro;
  text-shadow:0 0 3px #ffff99; color:#959499 }
  

.video { position:relative; float:left; margin:2px }
.featured.video { height:0; padding-top:56.25%; float:none }
.featured.video iframe { width:100%; height:100%;
  position:absolute; top:0; left:0 }

#photos { text-align:center }
#photos a img { border:1px solid rgba(0,0,0,.6) }

#notifications,
[for=notifications] { float:right }
[action*=subscribe] { display:none }
#notifications:checked 
  + [action*=subscribe] { display:block }
[action*=subscribe] { float:right; clear:right;
	font-family:Cinzel Decorative; text-align:right;
	line-height:2.6; padding:0 1em }
	input { background:white; color:#333; font-size:inherit }

address { color:#ffd5cc; padding:4em 0 }
time { color:inherit }
time:before { content:'❤'; display:inline-block;
  padding:0 1em }

/* reset */
* { margin:0; padding:0; border:0; background:transparent;
    transition:all 161ms;
    font-size:inherit; font-family:inherit; font-style:inherit;
    text-decoration:none; color:white;
    -moz-box-sizing: border-box; box-sizing:border-box }
