/* khaleesi.la */
@charset 'UTF-8';

html, body { height:100%; text-align:center }
html { background:#101; 
  font:normal 400 100%/1.6 Source Sans Pro, sans-serif }

#khaleesi { font:16vw Allura; line-height:61vh; display:block }

address { display:inline }
time:before { content:'❤'; display:inline-block;
  padding:0 1em }

/* reset */
* { margin:0; padding:0; border:0; background:transparent;
    transition:all 161ms;
    font-size:inherit; font-family:inherit; font-style:inherit;
    text-decoration:none; color:white;
    -moz-box-sizing: border-box; box-sizing:border-box }

#photos { text-align:center }
#photos a img { border:1px solid rgba(0,0,0,.6) }

/** /#notifications,
[for=notifications] { float:right }
[action*=subscribe] { display:none }
#notifications:checked 
  + [action*=subscribe] { display:block }
[action*=subscribe] { float:right; clear:right;
	font-family:Cinzel Decorative; text-align:right;
	line-height:2.6; padding:0 1em }
	input { background:white; color:#333; font-size:inherit } /**/
